{
  "extends": ["@open-wc/eslint-config", "eslint-config-prettier"],
  "overrides": [
    {
      "files": ["*.spec.js"],
      "globals": {
        "expect": false
      },
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "plugins": ["sort-keys-fix"],
  "rules": {
    "sort-keys-fix/sort-keys-fix": "warn"
  }
}
